html {
    background-color: #eeeeee;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 5px;
    color: #444444;
    text-align: center;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 270px;
}

h1 {
    text-align: center;
    letter-spacing: 20px;
    color: #222222;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    font-size: 50px;
    border-bottom: 2px #222222 solid;
    padding-bottom: 20px;
}

body {
    width: 80%;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: #222222;
    text-align: center;
    box-shadow: 1px 2px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

a:hover {
    filter: brightness(50%);
}

.fa-bars {
    float: left;
    color: #222222;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile {
    border-radius: 100%;
}