body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    color: #eeeeee;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    background-image: url("../images/dan.jpg");
    background-position: center left;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

img {
    width: 360px;
    height: 180px;
    object-fit: cover;
}

button {
    padding: 5px;
    border-radius: 0px;
    border: none;
    font-family: 'Garamond', serif;
    font-size: 14px;
    width: 150px;
    margin: 0px 5px;
}

ul {
    margin-top: 10px;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px 10px;
    font-size: 20px;
    width: 175px;
    text-align: center;
}