body {
    background-image: url("../images/floor-tile.png");
    color: #26100E;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #7E82D9;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 60px;
    padding: 10px;
    background-color: #7E82D9;
    font-size: 10px;
    color: #dddddd;
    text-align: center;
}

img {
    width: 350px;
    height: 165px;
    max-width: 100%;
    border: 1px rgba(0, 0, 0, 0.2) solid;
}

h1 {
    padding: 26px;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 5px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    font-family: 'Fjalla One', sans-serif;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    font-family: 'Fjalla One', sans-serif;
}

p {
    text-align: center;
    display: block;
    margin: 20px auto;
}

a {
    display: block;
    padding: 5px;
    margin: 15px auto;
    text-decoration: none;
    font-weight: 700;
    color: darkblue;
    background-color: #D9B29C;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

button {
    display: block;
    padding: 5px;
    margin: 15px auto;
    text-decoration: none;
    font-weight: 700;
    color: darkblue;
    background-color: #D9B29C;
    width: 100px;
    border-radius: 5px;
    border: none;
}