.italic {
    font-style: italic;
}

.btn-large {
    width: 200px;
    font-size: 18px;
}

#close, #close-skills {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    z-index: 2;
}